* {
    outline: 1px solid red;
}

.left {
    height: 100vh;
    width: 40vw;
}

.right {
    height: 100vh;
    width: 60vw;
}

body {
    display: flex;
}

.top {
    height: 35%;
}

.mid {
    height: 30%;
}

.bottom {
    height: 35%;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divintop {
    padding-left: 5%;
    padding-right: 20%;
}