@font-face {
    font-family: custom-norse-font;
    src: url(font/Norse-Bold.otf);
}

* {
    /* outline: 1px solid red; */
    font-family: Arial, Helvetica, sans-serif;
}

.left {
    height: 100vh;
    width: 40vw;
}

.right {
    height: 100vh;
    width: 60vw;
}

body {
    display: flex;
}

.top {
    height: 35%;
    background-color: rgb(245, 245, 245);
}

.mid {
    height: 30%;
    padding-left: 5%;
    padding-right: 20%;
}

.bottom {
    height: 35%;
    background-color: rgb(245, 245, 245);
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divintop {
    padding-left: 5%;
    padding-right: 20%;
}

.bottom {
    padding-left: 5%;
    padding-top: 2%;
}

button {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 5px;
    background-color: #596d48;
    color: white;
    border: none;
}

#colored {
    color: #596d48;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url(images/leaves-image.jpg);
    background-size: cover;
    color: white;
    position: relative;
}

h2 {
    margin-top: 0; 
}

.labelinputdivs {
    display: flex;
    flex-direction: column;
}

.formflex {
    display: flex;
    justify-content: space-between;
    
}
#darkbg {
    height: 15%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 150px;
    display: flex;
    justify-content: center;
    
}

#darkbg div {
    font-family: custom-norse-font;
    font-size: 5rem;
}

img {
    width: auto;
    height: 100%;
}

#italic {
    font-style: italic;
}